@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Nosifer&display=swap");

@font-face {
  font-family: MagnificChaos;
  src: url("/MagnificChaos.ttf");
}

* {
  scroll-behavior: smooth;
  /* font-family: MagnificChaos, Verdana, Geneva, Tahoma, sans-serif; */
}
:root {
  --color1: rgb(250, 200, 200);
  --color1Blur: rgba(250, 200, 200, 0.4);
  --color2: rgb(60, 10, 8);
  --color2Blur: rgba(60, 10, 8, 0.4);
  scrollbar-width: none;

  --bg-colour: #251f1f;
  --subheading-colour: #a66f6f;
  --font-general-colour: #cdb9b9;

  --red-1: #460405;
  --red-2: #520201;
  --red-3: #640405;
  --red-4: #730909;
  --red-5: #840403;
  --red-6: #692526;
  --red-7: #5c1819;
  --red-8: #4a0a0a;
  --red-9: #270100;
  --my-colour: papaywhip;
}

::-webkit-scrollbar {
  display: none;
}
.outermost-div {
  background-color: var(--bg-colour);
  background-image: url(./new-bg.jpg);
  background-repeat: repeat-y;

  background-blend-mode: multiply;
  margin-top: 500px;
}
#main {
  margin-top: 500px;
}
.title {
  font-size: 7vw;
  /* color: var(--color2); */
  color: black;
  font-family: MagnificChaos, Verdana, Geneva, Tahoma, sans-serif;
  /* background-image: url("/Images/images.png"); */
  width: max-content;
  text-align: center;
  padding: 10px;
  background-size: cover;
  /* mix-blend-mode: difference; */
  text-shadow: 0px 5px 50px var(--color2);
}
.title-dante-hero {
  font-size: 4vw;
  color: black;
  text-align: center;

  text-shadow: 0px 5px 30px var(--color2);

  /* font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal; */
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}
.sub-title {
  font-size: 4vw;
  color: white;
  mix-blend-mode: difference;
  text-shadow: 0px 5px 20px var(--color2);
}
.title-image {
  position: sticky;
  width: 100vw;
  height: 100vh;
  color: var(--color1);
  /* background-color: rgb(265, 200, 200); */
  backdrop-filter: blur(10);
  background-size: cover;
  background-position: center;
  image-rendering: optimizeSpeed;
  /* background-image: url("./heroBG.png"); */
  background-image: url(./main-bg.png);
  background-repeat: no-repeat;
}
.theme-title {
  /* font-family: MagnificChaos, Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal; */
  font-family: "Metal Mania", system-ui;
  /* font-weight: 400; */
  /* font-style: normal; */
  /* color: var(--font-general-colour); */
  color: white;
  /* color: var(--red-6); */
}
.theme-description {
  font-family: sans-serif;
  color: white;
}
.landing-events {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landing-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sub-heading-title {
  /* events, and all other subheadings */
  /* position: -webkit-sticky;
    position: sticky; */
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding-top: 7vh;
  font-size: 7vw;
  /* color: var(--color2); */
  color: var(--subheading-colour);
  /* color: aqua; */
  margin: auto;
}
.landing-cards {
  margin-top: 5%;
  width: 90%;
}
.landing-card {
  border-radius: 10px;
  margin: 30px;
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: var(--color2);
}
.card-title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase !important;
}
.card-time {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 20px;
}
.card-desc {
  text-align: center;
  opacity: 0.8;
  height: 200px;
  width: 90%;
  margin-bottom: 30px;
  font-size: 20px;
  overflow: hidden;
}
.event-detail-card {
  left: 10vw;
  right: 10vw;
  top: 10vh;
  bottom: 10vh;
  width: 80vw;
  height: max(80vh, fit-content);
  position: fixed;
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2vw;
  z-index: 100;
  box-shadow: 0px 0px 90px var(--color1Blur);
  flex-wrap: nowrap;
}
.detail-title {
  text-align: center;
  padding-top: 10%;
  font-size: 7vh;
  color: var(--color1);
}
.detail-time {
  padding-top: 5vh;
  font-size: 3vh;
  color: white;
}
.detail-desc {
  text-align: justify;
  height: max-content;
  width: 60vw;
  padding-top: 5vh;
  font-size: 2vh;
  color: white;
}
.exit {
  text-align: center;
  margin-top: 5vh;
  font-size: large;
  height: 10vh;
  width: 10vw;
  color: var(--color2);
  border: none;
  border-radius: 2vh;
  box-shadow: 0px 0px 90px var(--color1Blur);
  background-color: var(--color1);
}
@media (max-width: 1024px) {
  .title {
    font-size: 5vh;
  }
  .sub-title {
    font-size: 3vh;
  }
  .sub-heading-title {
    font-size: 7vh;
    text-align: center;
  }
  .detail-title {
    font-size: 7vw;
  }
  .detail-desc {
    width: 90%;
  }
  .landing-card {
    width: 400px;
  }
  .exit {
    width: fit-content;
    height: max-content;
    padding: 3vw;
  }
}
.logoGroup {
  display: flex;
}
.instaLogo {
  background: "url(/instagram.png)";
  width: 120%;
  height: 120%;
  margin: 2em;
  background-size: contain;
  background-repeat: no-repeat;
}
